<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>[% h.l("Margaux and Edoardo's wedding") %]</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="all" href="/edoardo/wedding/css/fonts.css" />

    <link rel="stylesheet" media="all" href="/edoardo/wedding/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

    <!-- Microformats -->
    <link rel="profile" href="http://microformats.org/profile/hcard" />
    <link rel="profile" href="http://microformats.org/profile/hcalendar" />
  </head>
  
  <body lang="en">
    <div class="pink-paper">
      <div class="white-paper">

        <header>

          <hgroup class="vevent">
            <span class="summary">
           <!-- <h3>[% h.l('The wedding of') %]</h3> -->
            <h1>[% h.l('Margaux and Edoardo') %]</h1>
            </span>
            <h2><time datetime="2011-09-30" class="dtstart" title="2011-09-30">[% h.l('30 September 2011') %]</time></h2>
          </hgroup>
    <!--
          <nav>
            <ul>
    -->
              <!--<li><a href="#story">[% h.l('Story') %]</a></li>-->
              <!--<li><a href="#ceremony">[% h.l('Ceremony') %]</a></li>
              <li><a href="#reception">[% h.l('Reception') %]</a></li>-->
    <!--
              <li><a href="#venue">[% h.l('Venue') %]</a></li>
              <li><a href="#accommodation">[% h.l('Accommodation') %]</a></li>
              <li><a href="#contacts">[% h.l('Contact us') %]</a></li>
            </ul>
          </nav>
    -->
        </header>

[% content %]

        <footer>

          <small>
            <p><a href="#margaux">Margaux</a> &#9829; <a href="#edoardo">Edoardo</a><br />MMXI</p>
<!--            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a></p> -->
          </small>

        </footer>

      </div>
    </div>
  </body>
  
</html>
