<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>[% h.l("Margaux and Edoardo's wedding") %]</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" type="image/x-icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAVklEQVQ4jWPwMJD4Twlm8DCQ+P8/bxZZmPoG/P79myhMewPC1V3/h6u7YrCJMgCmARum2ICTJ0+S5gV0zUQbgG4IsmaSYgGbZpKjEV0zbdPBwOUFSjAAqOnKGVS4UQgAAAAASUVORK5CYII=" />

    <link rel="stylesheet" media="all" href="/edoardo/wedding/css/fonts.css" />
    <link rel="stylesheet" media="all" href="/edoardo/wedding/css/style.css" />
    [%- FOREACH file IN css %]
    <link rel="stylesheet" media="screen" href="/edoardo/wedding/css/[% file %]" />
    [%- END %]

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

    <!-- stop robots from indexing photos -->
    <meta name="robots" content="noimageindex" />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.sabadelli.it/edoardo/wedding" />
    <meta property="og:title" content="Margaux and Edoardo's wedding" />
    <meta property="og:description" content="Margaux and Edoardo's wedding website. Information about the double event for our guests. Photos and videos for our families and friends to enjoy." />
    <meta property="og:image" content="http://www.sabadelli.it/edoardo/wedding/jpg/slideshow/60.jpg" />

    <!-- Microformats -->
    <link rel="profile" href="http://microformats.org/profile/hcard" />
    <link rel="profile" href="http://microformats.org/profile/hcalendar" />
  </head>
  
  <body lang="[% app.lang || 'en' %]">
    <div class="pink-paper">
      <div class="white-paper">

        <header>

          <hgroup class="vevent">
            <h1 class="summary"><a href="/edoardo/wedding">[% h.l('Margaux and Edoardo') %]<span class="hidden">[% h.l("'s wedding") %]</span></a></h1>
            <h2><time datetime="2011-05-07" class="dtstart" title="2011-05-07">[% h.l('7 May 2011') %]</time> &#183;
            <time datetime="2011-09-30" class="dtend" title="2011-09-30">[% h.l('30 September 2011') %]</time></h2>
          </hgroup>

        </header>

[% content %]

        <footer>
          [%- IF NOT app.skip_translations %]
          <small>
            [%- IF app.lang == 'it' %]
            <a href="?lang=en">English version</a>
            [%- ELSE %]
            <a href="?lang=it">Versione italiana</a>
            [%- END %]
          </small>
          [%- END %]

          <br />

          <small>
            <a href="/edoardo/wedding/#hcard-Margaux-Claire-Lamont">Margaux</a> &#9829; <a href="/edoardo/wedding/#hcard-Edoardo-Romeo-Sabadelli">Edoardo</a><br />&copy; MMXI
          </small>

        </footer>

      </div>
    </div>

    [%- FOREACH file IN js %]
    <script src="/edoardo/wedding/js/[% file %]"></script>
    [%- END %]

    [%- IF app.mode == 'production' %]
    <!-- Google Analytics code -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(
        ['_setAccount', 'UA-323903-8'],
        ['_setDomainName', 'www.sabadelli.it'],
        ['_trackPageview'],
        ['_trackPageLoadTime']
      );

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    [%- END %]
  </body>
  
</html>
