@font-face {
  font-family: 'Bebas';
  src: url('/edoardo/wedding/css/fonts/Bebas.eot');
  src: local('Bebas'),
       url('/edoardo/wedding/css/fonts/Bebas.eot?iefix') format('eot'),
       url('/edoardo/wedding/css/fonts/Bebas.woff') format('woff'),
       url('/edoardo/wedding/css/fonts/Bebas.ttf') format('truetype'),
       url('/edoardo/wedding/css/fonts/Bebas.svg#webfontSRj8j0PE') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Splendid ES';
  src: url('/edoardo/wedding/css/fonts/SplendidES.eot');
  src: local('Splendid ES'),
       url('/edoardo/wedding/css/fonts/SplendidES.eot?iefix') format('eot'),
       url('/edoardo/wedding/css/fonts/SplendidES.woff') format('woff'),
       url('/edoardo/wedding/css/fonts/SplendidES.ttf') format('truetype'),
       url('/edoardo/wedding/css/fonts/SplendidES.svg#webfonty9jpxneC') format('svg');
  font-style: normal;
  font-weight: normal;
}
