/*  Less Framework 4
    http://lessframework.com
    by Joni Korpi
    License: http://creativecommons.org/licenses/MIT/   */

/*  Resets  */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

a img {border: 0;}

/*  Typography presets */
.gigantic {
    font-size: 110px;
    line-height: 120px;
    letter-spacing: -2px;
}

.huge, h1 {
    font-size: 68px;
    line-height: 72px;
    letter-spacing: -1px;
}

.large, h2, section h1 {
    font-size: 42px;
    line-height: 48px;
}

.bigger, h3 {
    font-size: 26px;
    line-height: 36px;
}

.big, h4 {
    font-size: 22px;
    line-height: 30px;
}

body {
    font: 16px/24px Georgia, serif;
}

.small, small {
    font-size: 13px;
    line-height: 18px;
}

/* Selection colours (easy to forget) */
::selection         {background: rgb(255,255,158);}
::-moz-selection    {background: rgb(255,255,158);}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

/* colours
 chocolate: #2b0000
 pink:      #fc8fc8
 paper:     #fbfbfb
 purple:    #572745
 grey:      #c9c9c9
*/

/*      Default Layout: 992px. 
        Gutters: 24px.
        Outer margins: 48px.
        Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

.hidden {
    display: none;
}

body {
    padding: 54px 0 66px;
    background: transparent url('/edoardo/wedding/css/media/1A0E03-pattern.png') repeat;
    color: rgb(60,60,60);
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

div.pink-paper {
    width: 896px;
    margin: auto;
    background-color: #fc8fc8;
    padding: 60px;
    box-shadow: 0 0 10px 4px #2b0000;
    -moz-box-shadow: 0 0 10px 4px #2b0000;
    -webkit-box-shadow: 0 0 10px 4px #2b0000;
}

div.white-paper {
    background-color: #fbfbfb;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px 4px #cc587b;
    -moz-box-shadow: 0 0 10px 4px #cc587b;
    -webkit-box-shadow: 0 0 10px 4px #cc587b;
}

div#mediaplayer1-box {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 716px;
    box-shadow: 0 0 10px 4px #c9c9c9;
    -moz-box-shadow: 0 0 10px 4px #c9c9c9;
    -webkit-box-shadow: 0 0 10px 4px #c9c9c9;
}

div#mediaplayer2-box {
    margin: 0 auto;
    margin-top: 20px;
    width: 640px;
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 10px 4px #c9c9c9;
    -moz-box-shadow: 0 0 10px 4px #c9c9c9;
    -webkit-box-shadow: 0 0 10px 4px #c9c9c9;
}

header, section, footer {
    padding: 0 90px;
}

header {
    padding: 50px 0;
    text-align: center;
    color: #572745;
}

header a {
    text-decoration: none;
}

header h1 {
    width: 5em;
    margin: 20px auto;
    font: 98px/98px 'Splendid ES', Palatino, Georgia, serif;
    letter-spacing: 0;
}

header h2 {
    font: 26px Bebas, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
}

header h3 {
    font: 18px Bebas, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

section {
    padding-bottom: 30px;
}

section > h1 {
    font-family: 'Splendid ES', Palatino, Georgia, serif;
    font-weight: normal;
    letter-spacing: 0;
    color: #572745;
    padding-top: 24px;
    border-top: 1px solid #c9c9c9;
    margin-bottom: 30px;
    text-align: center;
}

article {
    margin-bottom: 20px;
}

article > p:first-child {
    text-indent: 2em;
}

article h2 {
    font: 18px Bebas, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 6px;
    color: #404040;
}

article iframe {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 10px 4px #c9c9c9;
    -moz-box-shadow: 0 0 10px 4px #c9c9c9;
    -webkit-box-shadow: 0 0 10px 4px #c9c9c9;
}

footer {
    text-align: center;
    font-weight: bold;
    padding: 30px 0;
}

footer > small:first-child {
    display: block;
}

a {
    color: #572745;
}

a:hover {
    text-decoration: none;
}

div#slideshow {
    position: relative;
    width: 716px;
    height: 500px;
    margin-top: 20px;
}

div#slideshow img {
    position: absolute;
    left: 0;
    top: 0;
    width: 696px;
    padding: 15px;
    box-shadow: 0 0 10px 4px #c9c9c9;
    -moz-box-shadow: 0 0 10px 4px #c9c9c9;
    -webkit-box-shadow: 0 0 10px 4px #c9c9c9;
}

/*      Tablet Layout: 768px.
        Gutters: 24px.
        Outer margins: 28px.
        Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    body {
        padding: 48px 0 60px;
    }

    div.pink-paper {
        width: 712px;
        padding: 50px;
    }

    header, section, footer {
        padding: 0 70px;
    }

    header {
        padding: 30px 0;
    }

    header h1 {
        font-size: 78px;
        line-height: 78px;
    }

    header h2 {
        font-size: 20px;
    }

    section {
        padding-bottom: 20px;
    }

    section > h1 {
        font-size: 32px;
        padding-top: 20px;
        margin-bottom: 20px;
    } 

    article h2 {
        font-size: 16px;
    }

    footer {
        padding: 20px 0;
    }

}

/*      Wide Mobile Layout: 480px.
        Gutters: 24px.
        Outer margins: 22px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    body {
        padding: 36px 0 48px;
    }

    div.pink-paper {
        width: 436px;
        padding: 30px;
    }

    header, section, footer {
        padding: 0 40px;
    }   

    header {
        padding: 20px 0;
    }

    header h1 {
        font-size: 68px;
        line-height: 68px;
    }

    header h2 {
        font-size: 18px;
    }

    section {
        padding-bottom: 10px;
    }

    section > h1 {
        font-size: 28px;
        padding-top: 10px;
        margin-bottom: 10px;
    } 

    article h2 {
        font-size: 14px;
    }

    footer {
        padding: 20px 0;
    }

    /* hide datamatrix barcodes in mobile view */
    #hcard-Margaux-Claire-Lamont a[href="/edoardo/wedding/png/margaux-datamatrix.png"],
    #hcard-Edoardo-Romeo-Sabadelli a[href="/edoardo/wedding/png/edoardo-datamatrix.png"] {
        display: none;
    }

    div#mediaplayer1-box {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 450px;
    }

    div#mediaplayer2-box {
        margin: 0 auto;
        margin-top: 20px;
        width: 450px;
        border: 1px solid #c9c9c9;
    }

}

/*      Mobile Layout: 320px.
        Gutters: 24px.
        Outer margins: 34px.
        Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 479px) {
    
    body {
        padding: 48px 0 60px;
        font-size: 14px;
        line-height: 20px;
    }

    div.pink-paper {
        width: 252px;
        padding: 10px;
    }

    header, section, footer {
        padding: 0 16px;
    }   

    header {
        padding: 10px 0;
    }

    header h1 {
        font-size: 48px;
        line-height: 48px;
    }

    header h2 {
        font-size: 12px;
    }

    section {
        padding-bottom: 4px;
    }

    section > h1 {
        font-size: 24px;
        padding-top: 4px;
        margin-bottom: 1px;
    } 

    article h2 {
        font-size: 12px;
    }

    footer {
        padding: 10px 0;
    }

    /* hide datamatrix barcodes in mobile view */
    #hcard-Margaux-Claire-Lamont a[href="/edoardo/wedding/png/margaux-datamatrix.png"],
    #hcard-Edoardo-Romeo-Sabadelli a[href="/edoardo/wedding/png/edoardo-datamatrix.png"] {
        display: none;
    }

    div#mediaplayer1-box {
        margin: 0 auto;
        padding-bottom: 50px;
    }

    div#mediaplayer2-box {
        margin: 0 auto;
        margin-top: 20px;
        border: 1px solid #c9c9c9;
    }

}
